body *{
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-weight: 900;
    text-align: center;
}

body {
    background-color: lightgray;
}

.align {
    text-align: center;
}


.page {
    width: 850px;
    background-color: white;
    margin: auto;
    padding: 50px;
    padding-top: 35px;
}

.vis-container {
    width: 100%;
}

.description h2,
h1 {
    margin-top: 0px;
}


.description-right {
    padding-left: 20px;
}

.description-left {
    padding-right: 20px;
}

.pure-g {
    margin-bottom: 40px;
    align-items: cener;
}

.small-font {
    font-size: 14px;
}

.line-chart-annotation {
    z-index: 1;
    position: absolute;
    font-size: 10px;
    top: 1050px;
    left: 410px;
    width: 100px;
    height: 100px;
    border: 3px transparent #73AD21;
}
